<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Swissup\Navigationpro\Model\Menu\Locator\LocatorInterface"
        type="Swissup\Navigationpro\Model\Menu\Locator\DefaultLocator"/>
    <preference for="Swissup\Navigationpro\Model\Item\Locator\LocatorInterface"
        type="Swissup\Navigationpro\Model\Item\Locator\DefaultLocator"/>

    <type name="Swissup\Navigationpro\Ui\DataProvider\MenuDataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="config_scopes" xsi:type="object">Swissup\Navigationpro\Ui\DataProvider\AddConfigScopesToCollection</item>
            </argument>
        </arguments>
    </type>

    <type name="Swissup\Navigationpro\Ui\DataProvider\Form\MenuDataProvider">
        <arguments>
            <argument name="name" xsi:type="string">navigationpro_menu_settings_data_source</argument>
            <argument name="primaryFieldName" xsi:type="string">menu_id</argument>
            <argument name="requestFieldName" xsi:type="string">menu_id</argument>
        </arguments>
    </type>
</config>
