<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="swissup_amp_block_scss_after_compile">
        <observer name="swissup_prolabels_amp_scss_after_compile" instance="Swissup\ProLabels\Observer\ScssAfterCompile" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="swissup_prolabels_catalog_block_product_list_collection" instance="Swissup\ProLabels\Observer\SetFlagPreloadLabels" />
    </event>
    <event name="catalog_product_collection_load_after">
        <observer name="swissup_prolabels" instance="Swissup\ProLabels\Observer\PreloadLabels" />
    </event>
    <event name="swissup_event_block_product_list_collection">
        <observer name="swissup_prolabels_block_product_list_collection" instance="Swissup\ProLabels\Observer\SetFlagPreloadLabels" />
    </event>
</config>
