<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <attributepages>
            <image>
                <background>255,255,255</background>
            </image>
            <seo>
                <allow_direct_option_link>0</allow_direct_option_link>
                <url_suffix></url_suffix>
            </seo>
            <option_list>
                <hide_description_when_filter_is_used>1</hide_description_when_filter_is_used>
            </option_list>
            <product_list>
                <use_layered_navigation>1</use_layered_navigation>
                <layer_block_name>catalog.leftnav,enterprisecatalog.leftnav,tm.catalog.left.navigation</layer_block_name>
                <hide_description_when_filter_is_used>1</hide_description_when_filter_is_used>
            </product_list>
        </attributepages>
        <swissup_amp>
            <whitelist>
                <layout_updates>
                    <attributepages>Swissup_Attributepages</attributepages>
                </layout_updates>
                <block_types>
                    <attributepages>
                        <attribute_view>
                            <class>Swissup\Attributepages\Block\Attribute\View</class>
                        </attribute_view>
                        <attribute_list>
                            <class>Swissup\Attributepages\Block\Attribute\PagesList</class>
                        </attribute_list>
                        <option_list>
                            <class>Swissup\Attributepages\Block\Option\OptionList</class>
                        </option_list>
                        <product_option>
                            <class>Swissup\Attributepages\Block\Product\Option</class>
                        </product_option>
                        <widget_attribute_list>
                            <class>Swissup\Attributepages\Block\Widget\Attribute\PagesList</class>
                        </widget_attribute_list>
                        <widget_option_list>
                            <class>Swissup\Attributepages\Block\Widget\Option\OptionList</class>
                        </widget_option_list>
                        <abstract>
                            <class>Swissup\Attributepages\Block\AbstractBlock</class>
                        </abstract>
                    </attributepages>
                </block_types>
            </whitelist>
            <includes>
                <blocks>
                    <attribute_list>
                        <class>Swissup\Attributepages\Block\Attribute\PagesList</class>
                        <styles>
                            <attributepages>Swissup_Attributepages::attributepages.scss</attributepages>
                        </styles>
                    </attribute_list>
                    <option_list>
                        <class>Swissup\Attributepages\Block\Option\OptionList</class>
                        <styles>
                            <attributepages>Swissup_Attributepages::attributepages.scss</attributepages>
                        </styles>
                    </option_list>
                    <abstract>
                        <class>Swissup\Attributepages\Block\AbstractBlock</class>
                        <styles>
                            <attributepages>Swissup_Attributepages::attributepages.scss</attributepages>
                        </styles>
                    </abstract>
                    <product_option>
                        <class>Swissup\Attributepages\Block\Product\Option</class>
                        <styles>
                            <attributepages>Swissup_Attributepages::attributepages.scss</attributepages>
                        </styles>
                    </product_option>
                </blocks>
            </includes>
        </swissup_amp>
    </default>
</config>
