<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Swissup_ChatGptAssistant::prompt" title="ChatGPT Prompts" module="Swissup_ChatGptAssistant" sortOrder="329" parent="Swissup_Core::general" action="swissup_assistant/prompt" resource="Swissup_ChatGptAssistant::prompt"/>
    </menu>
</config>
