<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="swissup_chatgpt_assistant" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>ChatGPT Assistant</label>
            <tab>swissup</tab>
            <resource>Swissup_ChatGptAssistant::config_chatgptassistant</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="openai_api_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OpenAI API Key</label>
                    <comment><![CDATA[<a href="https://platform.openai.com/account/api-keys" title="Get API Key">Get API Key</a>]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="openai_model" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>OpenAI Model</label>
                    <comment><![CDATA[For example: <strong>gpt-3.5-turbo</strong>, <strong>gpt-4</strong>. Find more at <a href="https://platform.openai.com/docs/models" title="Models Documentation">Models Documentation</a>]]></comment>
                </field>

            </group>
        </section>
    </system>
</config>
