// 1. Configuration and helpers
@import
  'abstracts/icons',
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/theme',
  'abstracts/custom';

// 2. Vendors
@import
  // 'vendor/normalize',
  'vendor/bi-app',
  'vendor/include-media';

// 3. Base stuff
@import
  'base/animations',
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/form',
  'layout/header',
  'layout/footer',
  'layout/content',
  'layout/breadcrumbs',
  // 'layout/products',
  'layout/navigation',
  'layout/sidebar',
  'layout/contact';

// 5. Components
@import
  'components/accordion',
  'components/actionbar',
  'components/switch',
  'components/button',
  'components/lightbox',
  'components/listing',
  'components/message',
  'components/chips',
  'components/badge',
  'components/hamburger',
  'components/cart',
  'components/compare',
  'components/language',
  'components/search';

// 6. Page-specific styles
// @import
//   'pages/home';

// 7. Themes
// @import
//   'themes/default';
