<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Helper\Output">
        <plugin name="swissup_seocrosslinks" type="Swissup\SeoCrossLinks\Plugin\Helper\CatalogOutput" sortOrder="1" />
    </type>
    <type name="Magento\Cms\Block\Page">
        <plugin name="swissup_seocrosslinks" type="Swissup\SeoCrossLinks\Plugin\Block\CmsPage" sortOrder="1" />
    </type>
    <!-- Magefan_Blog -->
    <type name="Magefan\Blog\Block\Post\AbstractPost">
        <plugin name="swissup_seocrosslinks_magefan_blog" type="Swissup\SeoCrossLinks\Plugin\Megefan\Block\Post" sortOrder="1" />
    </type>
    <type name="Magefan\Blog\Block\Post\PostList\AbstractList">
        <plugin name="swissup_seocrosslinks_magefan_blog_list" type="Swissup\SeoCrossLinks\Plugin\Megefan\Block\PostList" sortOrder="1" />
    </type>
    <type name="Magefan\Blog\Block\Category\AbstractCategory">
        <plugin name="swissup_seocrosslinks_magefan_category" type="Swissup\SeoCrossLinks\Plugin\Megefan\Block\Category" sortOrder="1" />
    </type>
    <type name="Magefan\Blog\Block\Index\Description">
        <plugin name="swissup_seocrosslinks_magefan_description" type="Swissup\SeoCrossLinks\Plugin\Megefan\Block\Description" sortOrder="1" />
    </type>
    <!-- end Magefan_Blog -->
</config>
