<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="attributepages" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Attributepages</label>
            <tab>swissup</tab>
            <resource>Swissup_Attributepages::config</resource>
            <group id="seo" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>SEO</label>
                <field id="url_suffix" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL suffix</label>
                    <comment>Warning! Once set, do not change the suffix to prevent "Not Found" pages from Google cache.</comment>
                    <tooltip>Example: .html</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
