$easyslide-description-gap: 20px !default;
$easyslide-description-font-size: null !default;
$easyslide-description-padding: 7px 10px !default;
$easyslide-description-light-background: rgba(255,255,255,0.9) !default;
$easyslide-description-dark-background: rgba(0,0,0,0.7) !default;
$easyslide-description-dark-color: #fff !default;

$easyslide-thumbs-padding: 10px 0 !default;
$easyslide-thumbs-margin: 0 10px 0 0 !default;
$easyslide-thumbs-vertical-margin: 0 0 10px !default;

// Must be LTR for RTL & LTR languages
.easyslide-wrapper {
    margin-top: 10px;
    direction: ltr;

    amp-img {
        vertical-align: top;
    }

    amp-carousel {
        flex-basis: 100%;
    }
}

.swiper-slide {
    position: relative;
    a.easyslide-link {
        display: block;
    }
    .easyslide-description {
        box-sizing: border-box;
        font-size: $easyslide-description-font-size;
        padding: $easyslide-description-padding;
        position: absolute;
        bottom: 0;
        @include left(0);
        margin: $easyslide-description-gap;

        background: $easyslide-description-light-background;

        &-top {
            top: 0;
            bottom: auto;
        }
        &-right {
            @include left(auto);
            top: 0;
            @include right(0);
        }
        &-left {
            @include left(0);
            top: 0;
            bottom: auto;
        }
        &.easyslide-background-dark {
            background: $easyslide-description-dark-background;
            color: $easyslide-description-dark-color;
        }
        &.easyslide-background-transparent {
            background: transparent;
        }
    }
}

.easyslide-thumbs {
    padding: $easyslide-thumbs-padding;
    display: flex;
    align-items: flex-start;
    overflow: auto;

    > div {
        margin: $easyslide-thumbs-margin;
        flex-shrink: 0;

        .easyslide-wrapper-thumbs-right &,
        .easyslide-wrapper-thumbs-left & {
            margin: $easyslide-thumbs-vertical-margin;
        }
    }
}

.easyslide-wrapper-thumbs {
    &-above {
        display: flex;
        flex-direction: column-reverse;
    }

    &-right,
    &-left {
        display: flex;
        align-items: flex-start;

        .easyslide-thumbs {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            padding: 0 0 0 10px;
        }
    }

    &-left {
        flex-direction: row-reverse;

        .easyslide-thumbs {
            padding: 0 10px 0 0;
        }
    }
}
