<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sitemap\Model\Sitemap" type="Swissup\SeoXmlSitemap\Model\Sitemap" />
    <type name="Magento\Sitemap\Model\Sitemap">
        <arguments>
            <argument name="sitemapData" xsi:type="object">Swissup\SeoXmlSitemap\Helper\Data</argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Product">
        <arguments>
            <argument name="catalogImageHelper" xsi:type="object">Swissup\SeoXmlSitemap\Helper\Catalog\Image</argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Catalog\Category">
        <!-- plugin to add category images -->
        <plugin name="collectImagesForCategory"
                type="Swissup\SeoXmlSitemap\Plugin\Sitemap\ResourceModel\Catalog\Category"
                sortOrder="20"
                disabled="false"/>
    </type>
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <arguments>
            <argument name="getUtilityPageIdentifiers" xsi:type="object">Swissup\SeoXmlSitemap\Model\Cms\GetUtilityPageIdentifiers</argument>
        </arguments>
    </type>
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="mirasvitKbProvider" xsi:type="object">Swissup\SeoXmlSitemap\Model\ItemProvider\MirasvitKb</item>
                <item name="otherLinksProvider" xsi:type="object">Swissup\SeoXmlSitemap\Model\ItemProvider\OtherLinks</item>
            </argument>
        </arguments>
    </type>
</config>
