<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="soldtogether" translate="label" type="text" sortOrder="1957" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SoldTogether</label>
            <tab>swissup</tab>
            <resource>Swissup_SoldTogether::config_soldtogether</resource>

            <include path="Swissup_SoldTogether::system/order.xml" />
            <include path="Swissup_SoldTogether::system/customer.xml" />
            <include path="Swissup_SoldTogether::system/cron.xml" />

        </section>
    </system>
</config>
