<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagespeed>
            <main>
                <enable>0</enable>
                <devmode>1</devmode>
                <enable_for_all_pages>0</enable_for_all_pages>
                <enable_for_pages>cms_index_index,cms_page_view,cms_noroute_index,catalog_category_view,catalog_product_view,catalogsearch_result_index,checkout_cart_index,*_*_*</enable_for_pages>
                <debug_mode>1</debug_mode>
                <after_render>1</after_render>
                <link_preload>1</link_preload>
            </main>
            <content>
                <enable>1</enable>
                <js>1</js>
                <css>1</css>
            </content>
            <js>
                <defer_enable>1</defer_enable>
                <defer_unpack>1</defer_unpack>
                <defer_unpack_interactive>0</defer_unpack_interactive>
                <rjs_build_config></rjs_build_config>
            </js>
            <css>
                <critical_layout>1</critical_layout>
                <critical_handles>cms_index_index,cms_page_view,cms_noroute_index,catalog_category_view,catalog_product_view,catalogsearch_result_index</critical_handles>
            </css>
            <image>
                <provider>0</provider>
                <provider_apiurl>https://pagespeed.swissuplabs.com</provider_apiurl>
                <optimize_cron_enable>0</optimize_cron_enable>
                <optimize_cron_limit>100</optimize_cron_limit>
                <dimension>1</dimension>
                <webp_picture_add>0</webp_picture_add>
                <responsive>1</responsive>
                <default_responsive_sizes>(min-width: 1280px) 230px,(min-width: 1024px) 19vw,(min-width: 768px) 25vw,(min-width: 640px) 30vw,48vw</default_responsive_sizes>
                <lazyload_offset>7</lazyload_offset>
                <lazyload_mobile_offset>3</lazyload_mobile_offset>
                <optimize_timeout>10</optimize_timeout>
                <optimize_logging>0</optimize_logging>
            </image>
            <expire>
                <enable>1</enable>
                <ttl>31536000</ttl>
            </expire>
            <dnsprefetch>
                <enable>1</enable>
            </dnsprefetch>
            <preconnect>
                <enable>1</enable>
            </preconnect>
        </pagespeed>
    </default>
</config>
