<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seo_cross_links" type="text" sortOrder="368" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>CrossLinks</label>
            <tab>swissup_seocore</tab>
            <resource>Swissup_SeoCrossLinks::config_seo_cross_links</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enabled_for_magefun_post" translate="label" type="select"
                    sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled for Magefan Post</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Swissup\SeoCrossLinks\Block\Adminhtml\Config\Backend\ConditionalField</frontend_model>
                </field>
            </group>            
            <include path="Swissup_SeoCore::system/seomodules.xml"/>
        </section>
    </system>
</config>
