<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ImageBuilder">
        <plugin name="swissup_seotemplates" type="Swissup\SeoTemplates\Plugin\Block\Product\ImageBuilder" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Api\CategoryRepositoryInterface">
        <plugin name="swissup_seotemplates" type="Swissup\SeoTemplates\Plugin\Model\CategoryRepository" sortOrder="1" />
    </type>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="swissup_seotemplates" type="Swissup\SeoTemplates\Plugin\Model\ProductRepository" sortOrder="1" />
    </type>
    <type name="Magento\Theme\Block\Html\Title">
        <plugin name="swissup_seotemplates" type="Swissup\SeoTemplates\Plugin\Block\Html\Title" sortOrder="1" />
    </type>
</config>
