<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <swissup_amp>
            <general>
                <enabled>0</enabled>
                <persistent_browsing>1</persistent_browsing>
                <all_pages>1</all_pages>
                <exclude></exclude>
                <force_mobile>0</force_mobile>
                <force_tablet>0</force_tablet>
            </general>
            <web>
                <cookie_restriction>1</cookie_restriction>
            </web>
            <product_page>
                <full_mode>1</full_mode>
            </product_page>
            <category_page>
                <disable_layered_navigation>0</disable_layered_navigation>
            </category_page>
            <homepage>
                <page_id>swissupamp_homepage</page_id>
            </homepage>

            <whitelist>
                <layout_updates>
                    <magento_bundle>Magento_Bundle</magento_bundle>
                    <magento_catalog>Magento_Catalog</magento_catalog>
                    <magento_cataloginventory>Magento_CatalogInventory</magento_cataloginventory>
                    <magento_catalogsearch>Magento_CatalogSearch</magento_catalogsearch>
                    <magento_checkout>Magento_Checkout</magento_checkout>
                    <magento_cms>Magento_Cms</magento_cms>
                    <magento_configurableproduct>Magento_ConfigurableProduct</magento_configurableproduct>
                    <magento_contact>Magento_Contact</magento_contact>
                    <magento_cookie>Magento_Cookie</magento_cookie>
                    <magento_customer>Magento_Customer</magento_customer>
                    <magento_downloadable>Magento_Downloadable</magento_downloadable>
                    <magento_googleanalytics>Magento_GoogleAnalytics</magento_googleanalytics>
                    <magento_groupedproduct>Magento_GroupedProduct</magento_groupedproduct>
                    <magento_layerednavigation>Magento_LayeredNavigation</magento_layerednavigation>
                    <magento_paypal>Magento_Paypal</magento_paypal>
                    <magento_review>Magento_Review</magento_review>
                    <magento_search>Magento_Search</magento_search>
                    <magento_theme>Magento_Theme</magento_theme>
                    <magento_ui>Magento_Ui</magento_ui>
                    <magento_wishlist>Magento_Wishlist</magento_wishlist>
                    <swissup_amp>Swissup_Amp</swissup_amp>
                </layout_updates>
                <block_types>
                    <bundle>
                        <bundle_finalpricebox>
                            <class>Magento\Bundle\Pricing\Render\FinalPriceBox</class>
                        </bundle_finalpricebox>
                        <catalog_product_view_type_bundle>
                            <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle</class>
                        </catalog_product_view_type_bundle>
                        <catalog_product_view_type_bundle_option_select>
                            <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Select</class>
                        </catalog_product_view_type_bundle_option_select>
                        <catalog_product_view_type_bundle_option_multi>
                            <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Multi</class>
                        </catalog_product_view_type_bundle_option_multi>
                        <catalog_product_view_type_bundle_option_checkbox>
                            <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Checkbox</class>
                        </catalog_product_view_type_bundle_option_checkbox>
                        <catalog_product_view_type_bundle_option_radio>
                            <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio</class>
                        </catalog_product_view_type_bundle_option_radio>
                    </bundle>
                    <catalog>
                        <product_view>
                            <class>Magento\Catalog\Block\Product\View</class>
                        </product_view>
                        <product_view_attributes>
                            <class>Magento\Catalog\Block\Product\View\Attributes</class>
                        </product_view_attributes>
                        <product_view_type_simple>
                            <class>Magento\Catalog\Block\Product\View\Type\Simple</class>
                        </product_view_type_simple>
                        <product_view_type_virtual>
                            <class>Magento\Catalog\Block\Product\View\Type\Virtual</class>
                        </product_view_type_virtual>
                        <product_price>
                            <class>Magento\Catalog\Pricing\Render</class>
                        </product_price>
                        <product_pricebox>
                            <class>Magento\Catalog\Pricing\Render\PriceBox</class>
                        </product_pricebox>
                        <product_view_description>
                            <class>Magento\Catalog\Block\Product\View\Description</class>
                        </product_view_description>
                        <product_view_details>
                            <class>Magento\Catalog\Block\Product\View\Details</class>
                        </product_view_details>
                        <product_view_gallery>
                            <class>Magento\Catalog\Block\Product\View\Gallery</class>
                        </product_view_gallery>
                        <product_view_additional>
                            <class>Magento\Catalog\Block\Product\View\Additional</class>
                        </product_view_additional>
                        <product_view_compare>
                            <class>Magento\Catalog\Block\Product\View\AddTo\Compare</class>
                        </product_view_compare>
                        <product_view_options>
                            <class>Magento\Catalog\Block\Product\View\Options</class>
                        </product_view_options>
                        <product_view_options_type_text>
                            <class>Magento\Catalog\Block\Product\View\Options\Type\Text</class>
                        </product_view_options_type_text>
                        <product_view_options_type_file>
                            <class>Magento\Catalog\Block\Product\View\Options\Type\File</class>
                        </product_view_options_type_file>
                        <product_view_options_type_select>
                            <class>Magento\Catalog\Block\Product\View\Options\Type\Select</class>
                        </product_view_options_type_select>
                        <product_view_options_type_date>
                            <class>Magento\Catalog\Block\Product\View\Options\Type\Date</class>
                        </product_view_options_type_date>
                        <category_view>
                            <class>Magento\Catalog\Block\Category\View</class>
                        </category_view>
                        <product_list>
                            <class>Magento\Catalog\Block\Product\ListProduct</class>
                        </product_list>
                        <product_list_toolbar>
                            <class>Magento\Catalog\Block\Product\ProductList\Toolbar</class>
                        </product_list_toolbar>
                        <product_image>
                            <class>Magento\Catalog\Block\Product\Image</class>
                        </product_image>
                        <product_compare_list>
                            <class>Magento\Catalog\Block\Product\ProductList\Item\AddTo\Compare</class>
                        </product_compare_list>
                        <finalpricebox>
                            <class>Magento\Catalog\Pricing\Render\FinalPriceBox</class>
                        </finalpricebox>
                        <shortcut_buttons>
                            <class>Magento\Catalog\Block\ShortcutButtons</class>
                        </shortcut_buttons>
                        <list_compare>
                            <class>Magento\Catalog\Block\Product\Compare\ListCompare</class>
                        </list_compare>
                    </catalog>
                    <cataloginventory>
                        <qtyincrements>
                            <class>Magento\CatalogInventory\Block\Qtyincrements</class>
                        </qtyincrements>
                        <stockqty_default>
                            <class>Magento\CatalogInventory\Block\Stockqty\DefaultStockqty</class>
                        </stockqty_default>
                    </cataloginventory>
                    <catalogsearch>
                        <result>
                            <class>Magento\CatalogSearch\Block\Result</class>
                        </result>
                    </catalogsearch>
                    <checkout>
                        <cart_sidebar>
                            <class>Magento\Checkout\Block\Cart\Sidebar</class>
                        </cart_sidebar>
                    </checkout>
                    <cms>
                        <page>
                            <class>Magento\Cms\Block\Page</class>
                        </page>
                        <block>
                            <class>Magento\Cms\Block\Block</class>
                        </block>
                        <widget>
                            <class>Magento\Cms\Block\Widget\Block</class>
                        </widget>
                    </cms>
                    <configurable_product>
                        <configurable_finalpricebox>
                            <class>Magento\ConfigurableProduct\Pricing\Render\FinalPriceBox</class>
                        </configurable_finalpricebox>
                        <product_view_type_configurable>
                            <class>Magento\ConfigurableProduct\Block\Product\View\Type\Configurable</class>
                        </product_view_type_configurable>
                    </configurable_product>
                    <contact>
                        <contact_form>
                            <class>Magento\Contact\Block\ContactForm</class>
                        </contact_form>
                    </contact>
                    <cookie>
                        <html_cookienotice>
                            <class>Magento\Cookie\Block\Html\Notices</class>
                            <template>Swissup_Amp::cookie/html/notices.phtml</template>
                        </html_cookienotice>
                    </cookie>
                    <customer>
                        <account_link>
                            <class>Magento\Customer\Block\Account\Link</class>
                        </account_link>
                        <account_navigation>
                            <class>Magento\Customer\Block\Account\Navigation</class>
                        </account_navigation>
                    </customer>
                    <downloadable>
                        <catalog_product_view_type>
                            <class>Magento\Downloadable\Block\Catalog\Product\View\Type</class>
                        </catalog_product_view_type>
                        <catalog_product_links>
                            <class>Magento\Downloadable\Block\Catalog\Product\Links</class>
                        </catalog_product_links>
                        <catalog_product_samples>
                            <class>Magento\Downloadable\Block\Catalog\Product\Samples</class>
                        </catalog_product_samples>
                    </downloadable>
                    <framework>
                        <template>
                            <class>Magento\Framework\View\Element\Template</class>
                        </template>
                        <links>
                            <class>Magento\Framework\View\Element\Html\Links</class>
                        </links>
                        <link_current>
                            <class>Magento\Framework\View\Element\Html\Link\Current</class>
                        </link_current>
                        <select>
                            <class>Magento\Framework\View\Element\Html\Select</class>
                        </select>
                        <text>
                            <class>Magento\Framework\View\Element\Text</class>
                        </text>
                        <messages>
                            <class>Magento\Framework\View\Element\Messages</class>
                        </messages>
                        <pricing_render_amount>
                            <class>Magento\Framework\Pricing\Render\Amount</class>
                        </pricing_render_amount>
                        <form_key>
                            <class>Magento\Framework\View\Element\FormKey</class>
                        </form_key>
                    </framework>
                    <googleanalytics>
                        <ga>
                            <class>Magento\GoogleAnalytics\Block\Ga</class>
                        </ga>
                    </googleanalytics>
                    <grouped_product>
                        <product_view_type_grouped>
                            <class>Magento\GroupedProduct\Block\Product\View\Type\Grouped</class>
                        </product_view_type_grouped>
                        <stockqty_grouped>
                            <class>Magento\GroupedProduct\Block\Stockqty\Type\Grouped</class>
                        </stockqty_grouped>
                    </grouped_product>
                    <layered_navigation>
                        <navigation>
                            <class>Magento\LayeredNavigation\Block\Navigation</class>
                        </navigation>
                        <state>
                            <class>Magento\LayeredNavigation\Block\Navigation\State</class>
                        </state>
                    </layered_navigation>
                    <paypal>
                        <express_shortcut>
                            <class>Magento\Paypal\Block\Express\Shortcut</class>
                            <template>Swissup_Amp::paypal/express/shortcut.phtml</template>
                        </express_shortcut>
                    </paypal>
                    <review>
                        <review_renderer>
                            <class>Magento\Review\Block\Product\ReviewRenderer</class>
                        </review_renderer>
                        <product_view_list>
                            <class>Magento\Review\Block\Product\View\ListView</class>
                        </product_view_list>
                        <product_view_review>
                            <class>Magento\Review\Block\Product\Review</class>
                        </product_view_review>
                    </review>
                    <store>
                        <switcher>
                            <class>Magento\Store\Block\Switcher</class>
                        </switcher>
                    </store>
                    <swatches>
                        <render_layered>
                            <class>Magento\Swatches\Block\LayeredNavigation\RenderLayered</class>
                            <template>Swissup_Amp::swatches/product/layered/renderer.phtml</template>
                        </render_layered>
                    </swatches>
                    <theme>
                        <html_header>
                            <class>Magento\Theme\Block\Html\Header</class>
                        </html_header>
                        <html_header_logo>
                            <class>Magento\Theme\Block\Html\Header\Logo</class>
                        </html_header_logo>
                        <html_title>
                            <class>Magento\Theme\Block\Html\Title</class>
                        </html_title>
                        <html_notices>
                            <class>Magento\Theme\Block\Html\Notices</class>
                        </html_notices>
                        <html_breadcrumbs>
                            <class>Magento\Theme\Block\Html\Breadcrumbs</class>
                        </html_breadcrumbs>
                        <html_footer>
                            <class>Magento\Theme\Block\Html\Footer</class>
                        </html_footer>
                        <html_topmenu>
                            <class>Magento\Theme\Block\Html\Topmenu</class>
                        </html_topmenu>
                        <html_pager>
                            <class>Magento\Theme\Block\Html\Pager</class>
                        </html_pager>
                        <html_welcome>
                            <class>Magento\Theme\Block\Html\Welcome</class>
                        </html_welcome>
                    </theme>
                    <wishlist>
                        <link>
                            <class>Magento\Wishlist\Block\Link</class>
                        </link>
                        <product_list_link>
                            <class>Magento\Wishlist\Block\Catalog\Product\ProductList\Item\AddTo\Wishlist</class>
                        </product_list_link>
                        <product_view_link>
                            <class>Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist</class>
                        </product_view_link>
                    </wishlist>
                    <swissup_amp>
                        <js>
                            <class>Swissup\Amp\Block\Js</class>
                        </js>
                        <scss>
                            <class>Swissup\Amp\Block\Scss</class>
                        </scss>
                    </swissup_amp>
                    <swissup_featured_attributes>
                        <block>
                            <class>Swissup\FeaturedAttributes\Block\Attributes</class>
                        </block>
                    </swissup_featured_attributes>
                    <sm_market>
                        <page>
                            <class>Sm\Market\Block\Cms\Page</class>
                        </page>
                        <block>
                            <class>Sm\Market\Block\Cms\Block</class>
                        </block>
                    </sm_market>
                </block_types>
            </whitelist>
            <includes>
                <blocks>
                    <html_cookienotice>
                        <class>Magento\Cookie\Block\Html\Notices</class>
                        <styles>
                            <cookie-notice>layout/cookie-notice</cookie-notice>
                        </styles>
                        <scripts>
                            <amp-user-notification>
                                <custom-element>amp-user-notification</custom-element>
                                <src>https://cdn.ampproject.org/v0/amp-user-notification-0.1.js</src>
                            </amp-user-notification>
                        </scripts>
                    </html_cookienotice>
                    <html_pager>
                        <class>Magento\Theme\Block\Html\Pager</class>
                        <styles>
                            <category>components/pager</category>
                        </styles>
                    </html_pager>
                    <category_view>
                        <class>Magento\Catalog\Block\Category\View</class>
                        <styles>
                            <category>layout/category</category>
                        </styles>
                    </category_view>
                    <abstract_product>
                        <class>Magento\Catalog\Block\Product\AbstractProduct</class>
                        <styles>
                            <rating>components/rating</rating>
                            <product-generic>layout/product-generic</product-generic>
                            <products>layout/products</products>
                        </styles>
                    </abstract_product>
                    <layered_navigation>
                        <class>Magento\LayeredNavigation\Block\Navigation</class>
                        <styles>
                            <layered-navigation>layout/layered-navigation</layered-navigation>
                        </styles>
                    </layered_navigation>
                    <googleanalytics>
                        <class>Magento\GoogleAnalytics\Block\Ga</class>
                        <scripts>
                            <analytics>
                                <custom-element>amp-analytics</custom-element>
                                <src>https://cdn.ampproject.org/v0/amp-analytics-0.1.js</src>
                            </analytics>
                        </scripts>
                    </googleanalytics>
                    <product_view>
                        <class>Magento\Catalog\Block\Product\View</class>
                        <styles>
                            <product>layout/product</product>
                        </styles>
                    </product_view>
                    <product_view_options>
                        <class>Magento\Catalog\Block\Product\View\Options</class>
                        <styles>
                            <product-options>layout/product-options</product-options>
                        </styles>
                    </product_view_options>
                    <product_view_type_grouped>
                        <class>Magento\GroupedProduct\Block\Product\View\Type\Grouped</class>
                        <styles>
                            <product>layout/product-grouped</product>
                        </styles>
                    </product_view_type_grouped>
                    <product_view_gallery>
                        <class>Magento\Catalog\Block\Product\View\Gallery</class>
                        <scripts>
                            <carousel>
                                <custom-element>amp-carousel</custom-element>
                                <src>https://cdn.ampproject.org/v0/amp-carousel-0.1.js</src>
                            </carousel>
                        </scripts>
                    </product_view_gallery>
                    <review_product_view_list>
                        <class>Magento\Review\Block\Product\View\ListView</class>
                        <styles>
                            <product>layout/reviews</product>
                        </styles>
                    </review_product_view_list>
                    <product_view_type_configurable>
                        <class>Magento\ConfigurableProduct\Block\Product\View\Type\Configurable</class>
                        <styles>
                            <product-options>layout/product-options</product-options>
                        </styles>
                        <scripts>
                            <bind>
                                <custom-element>amp-bind</custom-element>
                                <src>https://cdn.ampproject.org/v0/amp-bind-0.1.js</src>
                            </bind>
                        </scripts>
                    </product_view_type_configurable>
                    <catalog_product_view_type_bundle>
                        <class>Magento\Bundle\Block\Catalog\Product\View\Type\Bundle</class>
                        <styles>
                            <product-options>layout/product-options</product-options>
                            <product-bundle>layout/product-bundle</product-bundle>
                        </styles>
                    </catalog_product_view_type_bundle>
                    <downloadable_catalog_product_links>
                        <class>Magento\Downloadable\Block\Catalog\Product\Links</class>
                        <styles>
                            <product-options>layout/product-options</product-options>
                        </styles>
                    </downloadable_catalog_product_links>
                    <downloadable_catalog_product_samples>
                        <class>Magento\Downloadable\Block\Catalog\Product\Samples</class>
                        <styles>
                            <product-options>layout/product-options</product-options>
                        </styles>
                    </downloadable_catalog_product_samples>
                    <list_compare>
                        <class>Magento\Catalog\Block\Product\Compare\ListCompare</class>
                        <styles>
                            <compare>pages/compare</compare>
                        </styles>
                    </list_compare>
                </blocks>
            </includes>
            <lightbox>
                <!-- Wrap html output of the following blocks into amp-lightbox component with specified id -->
                <blocks>
                    <layered_navigation>
                        <class>Magento\LayeredNavigation\Block\Navigation</class>
                        <id>shop-by-lightbox</id>
                    </layered_navigation>
                </blocks>
            </lightbox>
        </swissup_amp>
    </default>
</config>
