<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <richsnippets>
            <general>
                <enabled>0</enabled>
                <product_format>json-ld</product_format>
                <minify>1</minify>
            </general>
            <breadcrumbs>
                <enabled>0</enabled>
            </breadcrumbs>
            <product>
                <structured_data>{"name":"name","sku":"sku"}</structured_data>
                <add_reviews_data>1</add_reviews_data>
                <add_availability_data>1</add_availability_data>
                <image>
                    <id>product_base_image</id>
                </image>
                <return_policy>
                    <return_days>14</return_days>
                    <method>ByMail</method>
                    <no_fee>1</no_fee>
                </return_policy>
            </product>
        </richsnippets>
        <swissup_amp>
            <whitelist>
                <layout_updates>
                    <richsnippets>Swissup_RichSnippets</richsnippets>
                </layout_updates>
                <block_types>
                    <richsnippets>
                        <breadcrumbs>
                            <class>Swissup\RichSnippets\Block\Breadcrumbs</class>
                        </breadcrumbs>
                        <organization>
                            <class>Swissup\RichSnippets\Block\Organization</class>
                        </organization>
                        <product>
                            <class>Swissup\RichSnippets\Block\Product</class>
                        </product>
                        <website>
                            <class>Swissup\RichSnippets\Block\Website</class>
                        </website>
                    </richsnippets>
                </block_types>
            </whitelist>
        </swissup_amp>
    </default>
</config>
