<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="swissup_seocore_dispatch_event" type="Swissup\SeoCore\Plugin\ProductList\Related" sortOrder="1" />
    </type>
</config>
