<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <easybanner>
            <general>
                <cookie>easybanner</cookie>
            </general>
        </easybanner>

        <swissup_amp>
            <whitelist>
                <block_types>
                    <easybanner>
                        <banner>
                            <class>Swissup\Easybanner\Block\Banner</class>
                        </banner>
                        <placeholder>
                            <class>Swissup\Easybanner\Block\Placeholder</class>
                        </placeholder>
                    </easybanner>
                </block_types>
            </whitelist>
        </swissup_amp>
    </default>
</config>
