<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <highlight>
            <general>
                <pagination_type>improved</pagination_type>
            </general>
            <featured>
                <title>Featured Products</title>
                <url>highlight/featured.html</url>
                <action_name>featured</action_name>
            </featured>
            <new>
                <title>New Products</title>
                <url>highlight/new.html</url>
                <action_name>newAction</action_name>
            </new>
            <onsale>
                <title>On Sale</title>
                <url>highlight/onsale.html</url>
                <action_name>onsale</action_name>
            </onsale>
            <popular>
                <title>Popular</title>
                <url>highlight/popular.html</url>
                <action_name>popular</action_name>
                <period>P1M</period>
                <min_popularity>1</min_popularity>
            </popular>
            <bestsellers>
                <title>Bestsellers</title>
                <url>highlight/bestsellers.html</url>
                <action_name>bestsellers</action_name>
                <period>P1M</period>
                <min_popularity>1</min_popularity>
            </bestsellers>
            <bulksellers>
                <title>Bulk Bestsellers</title>
                <url>highlight/bulksellers.html</url>
                <action_name>bulksellers</action_name>
                <period>P1M</period>
                <min_popularity>1</min_popularity>
            </bulksellers>
        </highlight>
        <swissup_amp>
            <whitelist>
                <layout_updates>
                    <highlight>Swissup_Highlight</highlight>
                </layout_updates>
                <block_types>
                    <highlight>
                        <all>
                            <class>Swissup\Highlight\Block\ProductList\All</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </all>
                        <yesno>
                            <class>Swissup\Highlight\Block\ProductList\Attribute\Yesno</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </yesno>
                        <date>
                            <class>Swissup\Highlight\Block\ProductList\Attribute\Date</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </date>
                        <featured>
                            <class>Swissup\Highlight\Block\ProductList\Featured</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </featured>
                        <new>
                            <class>Swissup\Highlight\Block\ProductList\NewList</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </new>
                        <onsale>
                            <class>Swissup\Highlight\Block\ProductList\Onsale</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </onsale>
                        <popular>
                            <class>Swissup\Highlight\Block\ProductList\Popular</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </popular>
                        <bestsellers>
                            <class>Swissup\Highlight\Block\ProductList\Bestsellers</class>
                            <template>Swissup_Amp::catalog/product/list.phtml</template>
                        </bestsellers>
                        <toolbar>
                            <class>Swissup\Highlight\Block\ProductList\Toolbar</class>
                        </toolbar>
                        <wrapper>
                            <class>Swissup\Highlight\Block\Wrapper</class>
                            <template>swissupamp/block.phtml</template>
                        </wrapper>
                    </highlight>
                </block_types>
            </whitelist>
        </swissup_amp>
    </default>
</config>
