<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="quantityswitcher" type="text" sortOrder="1777" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Quantity Switcher</label>
            <tab>swissup</tab>
            <resource>Swissup_QuantitySwitcher::config_quantityswitcher</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="switcher_type" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quantity switcher type</label>
                    <source_model>Swissup\QuantitySwitcher\Model\Config\Source\QtySwitcherType</source_model>
                </field>
                <field id="enabled_cart" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled on Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
